{% set mainmenu = 'disease' %}
{% extends 'base.html' %}
{% block style %}
<link href="{{ static('css/select2.min.css') }}" rel="stylesheet"/>
{% endblock %}
{% block pagetitle %}
<img src="{{ static('img/xjb.svg') }}" width="32" height="32" class="me-2">
心肌病病例
{% endblock %}

{% block pageaction %}
{% if request.user.profile.is_editor %}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">添加信息</button>
  <div class="dropdown-menu dropdown-menu-end">
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-examine', kwargs={'did': object.id}) }}">添加检验</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-marker', kwargs={'did': object.id}) }}">添加心肌(心衰)标志物</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-treatment', kwargs={'did': object.id}) }}">添加治疗情况</a>
		<a class="dropdown-item" href="{{ url('add-cardiomyopathy-ultrasound', kwargs={'did': object.id}) }}">添加心脏超声</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-mri', kwargs={'did': object.id}) }}">添加MRI</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-ecg', kwargs={'did': object.id}) }}">添加心电图</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-greport', kwargs={'did': object.id}) }}">添加基因报告</a>
    <a class="dropdown-item" href="{{ url('add-cardiomyopathy-gmutation', kwargs={'did': object.id}) }}">添加基因报告内容</a>
  </div>
</div>
{% endif %}
{% endblock%}

{% block main %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			基本信息
		</h3>
	</div>
	<div class="card-body">
		<div class="datagrid">
			<div class="datagrid-item">
				<div class="datagrid-title">编号或测序编号</div>
				<div class="datagrid-content">{{ object.disease_code }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">体表面积</div>
				<div class="datagrid-content">{{ object.body_surface }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">心肌病分型</div>
				<div class="datagrid-content">{{ object.disease_type }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">突变基因</div>
				<div class="datagrid-content">{{ object.mutate_gene }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">初诊年龄</div>
				<div class="datagrid-content">{{ object.diagnose_age }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">有无家族史</div>
				<div class="datagrid-content">{{ object.get_has_history_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">家族史情况</div>
				<div class="datagrid-content">
					{% if object.has_history %}
					{{ object.family_history }}
					{% endif %}
				</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">合并症</div>
				<div class="datagrid-content">{{ object.get_complication_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">心衰评分</div>
				<div class="datagrid-content">{{ object.heart_failure }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">是否存活</div>
				<div class="datagrid-content">{{ object.get_is_survival_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">死亡时间</div>
				<div class="datagrid-content">
					{% if not object.is_survival %}
					{{ object.death_time }}
					{% endif %}
				</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">心律失常类型</div>
				<div class="datagrid-content">{{ object.arrhythmia_type }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">特殊治疗</div>
				<div class="datagrid-content">{{ object.get_special_treatment_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">心衰再入院次数</div>
				<div class="datagrid-content">{{ object.hospital_visits }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">随访时间</div>
				<div class="datagrid-content">{{ object.follow_time }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">是否采集标本</div>
				<div class="datagrid-content">{{ object.get_sample_collect_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">已送检标本</div>
				<div class="datagrid-content">{{ object.get_test_sample_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">剩余标本</div>
				<div class="datagrid-content">{{ object.get_remain_sample_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">录入时间</div>
				<div class="datagrid-content">{{ object.created | date("Y-m-d") }}</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-5">
	<div class="card-header">
		<h3 class="card-title">患者信息</h3>
	</div>
	<div class="card-body">
		<div class="datagrid">
			<div class="datagrid-item">
				<div class="datagrid-title">患者姓名</div>
				<div class="datagrid-content">{{ object.patient.name }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">登记号</div>
				<div class="datagrid-content">{{ object.patient.number }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">性别</div>
				<div class="datagrid-content">{{ object.patient.get_gender_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">民族</div>
				<div class="datagrid-content">{{ object.patient.get_ethnicity_display() }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">出生日期</div>
				<div class="datagrid-content">{{ object.patient.birthday | date("Y-m-d") }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">身高(cm)</div>
				<div class="datagrid-content">{{ object.patient.height }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">体重(Kg)</div>
				<div class="datagrid-content">{{ object.patient.weight }}</div>
			</div>
			<div class="datagrid-item">
				<div class="datagrid-title">电话</div>
				<div class="datagrid-content">{{ object.patient.phone }}</div>
			</div>
		</div>
	</div>
</div>

<div class="card mt-5">
	<div class="card-header">
		<h3 class="card-title">
			检验
		</h3>
	</div>
	<div class="card-body">
		{% for b in object.bloods.all() %}
		<div class="row mb-3">
			<div class="col">
				<strong>检验{{ loop.index }}</strong>
				{% if b.tested %}
				<span>{{ b.tested | date('Y-m-d') }}</span>
				{% endif %}
			</div>
			{% if request.user.profile.is_editor %}
			<div class="col-auto ms-auto d-print-none">
				<a href="{{ url('edit-cardiomyopathy-examine', kwargs={'did': object.id, 'pk': b.id}) }}" class="btn btn-sm btn-warning">编辑</a>
				<a href="{{ url('delete-cardiomyopathy-examine', kwargs={'did': object.id, 'pk': b.id}) }}" class="btn btn-sm btn-danger">删除</a>
			</div>
			{% endif %}
		</div>
		<div class="datagrid">
			{% for f in b._meta.fields %}
			{% if f.help_text %}
			<div class="datagrid-item">
				<div class="datagrid-title">{{ f.help_text }}</div>
				{% if f.choices %}
				<div class="datagrid-content">{{ b | attr('get_{}_display'.format(f.name))() }}</div>
				{% else %}
				<div class="datagrid-content">{{ b | attr(f.name) }}</div>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>

<div class="card mt-5">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs">
      <li class="nav-item">
        <a href="#tabs-marker" class="nav-link active" data-bs-toggle="tab">心肌(心衰)标志物</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-treatment" class="nav-link" data-bs-toggle="tab">治疗情况</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ultrasound" class="nav-link" data-bs-toggle="tab">心脏超声</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-mri" class="nav-link" data-bs-toggle="tab">MRI</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-ecg" class="nav-link" data-bs-toggle="tab">心电图</a>
      </li>
      <li class="nav-item">
        <a href="#tabs-gene" class="nav-link" data-bs-toggle="tab">基因报告</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active show" id="tabs-marker">
        <div class="table-responsive">
        	<table class="table card-table table-vcenter text-nowrap datatable">
        		<thead>
        			<tr>
        				<th>CK-MB (ug/L)</th>
        				<th>CK (ug/L)</th>
        				<th>cTnI (ug/L)</th>
        				<th>MYo (ug/L)</th>
        				<th>LDH (U/L)</th>
        				<th>AST (U/L)</th>
        				<th>BNP (pg/ml)</th>
        				<th>NT-BNP (pg/ml)</th>
        				<th>检验时间</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for m in object.markers.all() %}
        			<tr>
        				<td>{{ m.ckmb }}</td>
        				<td>{{ m.ck }}</td>
        				<td>{{ m.ctni }}</td>
        				<td>{{ m.myo }}</td>
        				<td>{{ m.ldh }}</td>
        				<td>{{ m.ast }}</td>
        				<td>{{ m.bnp }}</td>
        				<td>{{ m.ntbnp }}</td>
        				<td>{{ m.tested | date("Y-m-d") }}</td>
        				<td class="text-end">
        					{% if request.user.profile.is_editor %}
	                <a href="{{ url('edit-cardiomyopathy-marker', kwargs={'did': object.id, 'pk': m.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-marker', kwargs={'did': object.id, 'pk': m.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	              </td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
      <div class="tab-pane" id="tabs-treatment">
      	 <div class="table-responsive">
        	<table class="table card-table table-vcenter datatable">
        		<thead>
        			<tr>
        				<th>治疗用药</th>
        				<th>治疗时间</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for t in object.treatments.all() %}
        			<tr>
	        			<td>
	        				{% for k,v in t.drugs.items() %}
	        				{{k}}: {{v}},
	        				{% endfor %}
	        			</td>
	        			<td class="text-nowrap">{{ t.treated | date('Y-m-d') }}</td>
	        			<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-treatment', kwargs={'did': object.id, 'pk': t.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-treatment', kwargs={'did': object.id, 'pk': t.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
      <div class="tab-pane" id="tabs-ultrasound">
      	<div class="table-responsive">
        	<table class="table card-table table-vcenter datatable">
        		<thead>
        			<tr>
        				<th>超声号</th>
        				<th>年龄</th>
        				<th>LVEF (%)</th>
        				<th>LVFS (%)</th>
        				<th>LA (mm)</th>
        				<th>LV (mm)</th>
        				<th>RA (mm)</th>
        				<th>RV (mm)</th>
        				<th>LVEDD (mm)</th>
        				<th>Z值</th>
        				<th>LVESD (mm)</th>
        				<th>Z值</th>
        				<th>超声诊断</th>
        				<th>报告文件</th>
        				<th>影像文件</th>
        				<th>检查时间</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for u in object.ultrasounds.all() %}
        			<tr>
	        			<td>{{ u.code }}</td>
        				<td>{{ u.age }}</td>
        				<td>{{ u.lvef }}</td>
        				<td>{{ u.lvfs }}</td>
        				<td>{{ u.la }}</td>
        				<td>{{ u.lv }}</td>
        				<td>{{ u.ra }}</td>
        				<td>{{ u.rv }}</td>
        				<td>{{ u.lvedd }}</td>
        				<td>{{ u.lvedd_z }}</td>
        				<td>{{ u.lvesd }}</td>
        				<td>{{ u.lvesd_z }}</td>
        				<td>{{ u.diagnosis }}</td>
        				<td>
        					{% if u.dicom_file %}
        					<a href="{{ u.dicom_file.url }}" class="btn btn-sm btn-success">下载</a>
        					<a href="/orthanc/app/explorer.html#study?uuid={{ u.dicom_uuid }}" class="btn btn-sm btn-info">查看</a>
        					{% endif %}
        				</td>
        				<td>
        					{% if u.report %}
        					<a href="{{ u.report.url }}" class="btn btn-sm btn-success">下载</a>
        					{% endif %}
        				</td>
	        			<td class="text-nowrap">{{ u.tested | date('Y-m-d') }}</td>
	        			<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-ultrasound', kwargs={'did': object.id, 'pk': u.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-ultrasound', kwargs={'did': object.id, 'pk': u.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
      <div class="tab-pane" id="tabs-mri">
      	<div class="table-responsive">
        	<table class="table card-table table-vcenter datatable">
        		<thead>
        			<tr>
        				<th>超声号</th>
        				<th>年龄</th>
        				<th>LVEF (%)</th>
        				<th>LVFS (%)</th>
        				<th>LA (mm)</th>
        				<th>LV (mm)</th>
        				<th>RA (mm)</th>
        				<th>RV (mm)</th>
        				<th>心室肌质量</th>
        				<th>LGE</th>
        				<th>首过灌注</th>
        				<th>心肌水肿</th>
        				<th>心肌纤维化</th>
        				<th>心肌微循环</th>
        				<th>影像文件</th>
        				<th>报告文件</th>
        				<th>检查时间</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for m in object.mris.all() %}
        			<tr>
	        			<td>{{ m.code }}</td>
        				<td>{{ m.age }}</td>
        				<td>{{ m.lvef }}</td>
        				<td>{{ m.lvfs }}</td>
        				<td>{{ m.la }}</td>
        				<td>{{ m.lv }}</td>
        				<td>{{ m.ra }}</td>
        				<td>{{ m.rv }}</td>
        				<td>{{ m.mass }}</td>
        				<td>{{ m.get_lge_display() }}</td>
        				<td>{{ m.perfusion }}</td>
        				<td>{{ m.get_dema_display() }}</td>
        				<td>{{ m.fibrosis }}</td>
        				<td>{{ m.microcirculation }}</td>
        				<td>
        					{% if m.dicom_file %}
        					<a href="{{ m.dicom_file.url }}" class="btn btn-sm btn-success">下载</a>
        					<a href="/orthanc/app/explorer.html#study?uuid={{ m.dicom_uuid }}" class="btn btn-sm btn-info">查看</a>
        					{% endif %}
        				</td>
        				<td>
        					{% if m.report %}
        					<a href="{{ m.report.url }}" class="btn btn-sm btn-success">下载</a>
        					{% endif %}
        				</td>
	        			<td class="text-nowrap">{{ m.tested | date('Y-m-d') }}</td>
	        			<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-mri', kwargs={'did': object.id, 'pk': m.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-mri', kwargs={'did': object.id, 'pk': m.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
      <div class="tab-pane" id="tabs-ecg">
      	<div class="table-responsive">
        	<table class="table card-table table-vcenter datatable">
        		<thead>
        			<tr>
        				<th>年龄</th>
        				<th>ST-T改变</th>
        				<th>传导阻滞</th>
        				<th>心房颤动</th>
        				<th>室性早搏</th>
        				<th>房性早搏</th>
        				<th>左室肥大</th>
        				<th>左房肥大</th>
        				<th>异常Q波</th>
        				<th>窦性心动过缓</th>
        				<th>窦性心动过速</th>
        				<th>房性心动过速</th>
        				<th>室性心动过速</th>
        				<th>检查时间</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for e in object.ecgs.all() %}
        			<tr>
        				<td>{{ e.age }}</td>
        				<td>{{ e.get_stt_display() }}</td>
        				<td>{{ e.get_cdzz_display() }}</td>
        				<td>{{ e.get_xfcd_display() }}</td>
        				<td>{{ e.get_sxzb_display() }}</td>
        				<td>{{ e.get_fxzb_display() }}</td>
        				<td>{{ e.get_zsfd_display() }}</td>
        				<td>{{ e.get_zffd_display() }}</td>
        				<td>{{ e.get_ycqb_display() }}</td>
        				<td>{{ e.get_dxdgh_display() }}</td>
        				<td>{{ e.get_dxdgs_display() }}</td>
        				<td>{{ e.get_fxdgs_display() }}</td>
        				<td>{{ e.get_sxdgs_display() }}</td>
	        			<td class="text-nowrap">{{ e.tested | date('Y-m-d') }}</td>
	        			<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-ecg', kwargs={'did': object.id, 'pk': e.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-ecg', kwargs={'did': object.id, 'pk': e.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>
        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
      <div class="tab-pane" id="tabs-gene">
      	<div class="table-responsive">
        	<table class="table card-table table-vcenter datatable">
        		<thead>
        			<tr>
        				<th>检测公司</th>
        				<th>报告文件</th>
        				<th>检查时间</th>
        				<th colspan="8">检测内容</th>
        				<th>操作</th>
        			</tr>
        		</thead>
        		<tbody>
        			{% for r in object.reports.all() %}
        			<tr>
        				<td rowspan="{{ r.genes.count()+1 }}">{{ r.company }}</td>
        				<td rowspan="{{ r.genes.count()+1 }}"><a href="{{ r.report.url }}" class="btn btn-sm btn-success">下载</a></td>
        				<td rowspan="{{ r.genes.count()+1 }}">{{ r.tested | date("Y-m-d") }}</td>
        				<td>基因</td>
        				<td>染色体位置</td>
        				<td>突变信息</td>
        				<td>gnomAD MAF</td>
        				<td>ACAG变异评级</td>
        				<td>疾病名称</td>
        				<td>遗传模式</td>
        				<td>合子类型</td>
	        			<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-greport', kwargs={'did': object.id, 'pk': r.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-greport', kwargs={'did': object.id, 'pk': r.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>

        			{% for g in r.genes.all() %}
        			<tr>
        				<td>{{ g.gene }}</td>
        				<td>{{ g.position }}</td>
        				<td>{{ g.mutation }}</td>
        				<td>{{ g.gnomad }}</td>
        				<td>{{ g.acmg }}</td>
        				<td>{{ g.jbmc }}</td>
        				<td>{{ g.gmode }}</td>
        				<td>{{ g.zygote }}</td>
        				<td class="text-nowrap text-end">
	        				{% if request.user.profile.is_editor %}
	        				<a href="{{ url('edit-cardiomyopathy-gmutation', kwargs={'did': object.id, 'pk': g.id}) }}" class="btn btn-sm btn-warning">编辑</a>
									<a href="{{ url('delete-cardiomyopathy-gmutation', kwargs={'did': object.id, 'pk': g.id}) }}" class="btn btn-sm btn-danger">删除</a>
									{% endif %}
	        			</td>
        			</tr>
        			{% endfor %}

        			{% endfor %}
        		</tbody>
        	</table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}