{% extends 'base.html' %}
{% set mainmenu = 'disease' %}
{% block style %}
{{ form.media.css }}
<style>
	label[for] {display: none;}
</style>
{% endblock %}
{% block pagetitle %}
{{ title }}
{% endblock %}
{% block main %}
<div  class="card">
	<div class="card-header">
		<h3 class="card-title">
			{{ subtitle }}
		</h3>
	</div>
	<form method="post" enctype="multipart/form-data">
		{{ csrf_input }}
		<div class="card-body">
			<div class="row row-cards">
				{% for field in form %}
				{% if field.widget_type == 'jsonform' %}
				<div class="col-md-12">
					<div class="mb-3">
						{{ field.as_field_group() }}
					</div>
				</div>
				{% else %}
				<div class="col-md-3">
					<div class="mb-3">
						{{ field.as_field_group() }}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex">
				<div class="spinner-border text-blue d-none" role="status"></div>
				<button type="submit" class="btn btn-primary ms-auto" id="submit-form">提交</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block script %}
{{ form.media.js }}
<script src="{{ static('js/jquery.validate.min.js') }}"></script>
<script>
$('#submit-form').click(function(){
	$('.spinner-border').removeClass('d-none');
});
</script>
{% endblock %}