{% set mainmenu = 'index' %}
{% extends 'base.html' %}

{% block main %}
<div class="row row-cards">
	<div class="col-md-6 col-lg-4 col-xl-2">
		<a class="card card-link card-link-pop" href="{{ url('list-cardiomyopathy') }}">
			<div class="card-body">
				<div class="row">
					<div class="col-auto">
						<span class="avatar avatar-2" style="background-image: url({{ static('img/xjb.svg') }});"></span>
					</div>
					<div class="col">
						<h3 class="mb-0">心肌病</h3>
						<div class="text-secondary">Cardiomyopathy</div>
					</div>
					<div class="col-auto">
						1234 病例
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6 col-lg-4 col-xl-2">
		<a class="card card-link card-link-pop" href="{{ url('list-kawasaki') }}">
			<div class="card-body">
				<div class="row">
					<div class="col-auto">
						<span class="avatar avatar-2" style="background-image: url({{ static('img/cqb.svg') }});"></span>
					</div>
					<div class="col">
						<h3 class="mb-0">川崎病</h3>
						<div class="text-secondary">Kawasaki Disease</div>
					</div>
					<div class="col-auto">
						1234 病例
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6 col-lg-4 col-xl-2">
		<a class="card card-link card-link-pop" href="{{ url('list-arrhythmia') }}">
			<div class="card-body">
				<div class="row">
					<div class="col-auto">
						<span class="avatar avatar-2" style="background-image: url({{ static('img/xlsc.svg') }});"></span>
					</div>
					<div class="col">
						<h3 class="mb-0">心律失常</h3>
						<div class="text-secondary">Arrhythmia</div>
					</div>
					<div class="col-auto">
						1234 病例
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6 col-lg-4 col-xl-3">
		<a class="card card-link card-link-pop" href="#">
			<div class="card-body">
				<div class="row">
					<div class="col-auto">
						<span class="avatar avatar-2" style="background-image: url({{ static('img/spxr.svg') }});"></span>
					</div>
					<div class="col">
						<h3 class="mb-0">先心病-外科</h3>
						<div class="text-secondary">Congenital Heart Disease</div>
					</div>
					<div class="col-auto">
						1234 病例
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="col-md-6 col-lg-4 col-xl-3">
		<a class="card card-link" href="#">
			<div class="card-body">
				<div class="row">
					<div class="col-auto">
						<span class="avatar avatar-2" style="background-image: url({{ static('img/xxb.svg') }});"></span>
					</div>
					<div class="col">
						<h3 class="mb-0">先心病-VSD介入</h3>
						<div class="text-secondary">Congenital Heart Disease</div>
					</div>
					<div class="col-auto">
						1234 病例
					</div>
				</div>
			</div>
		</a>
	</div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
const ws_scheme = window.location.protocol == "https:" ? "wss": "ws";
const ws_path = ws_scheme + '://' + window.location.host + '/ws/socketio/';

const ws_socket = new WebSocket(ws_path);

ws_socket.onmessage = function(e) {
	data = JSON.parse(e.data);
	console.log(data);
	document.querySelector('#content').value = data.message;
};

ws_socket.onopen = function(e) {
	console.log('ws connected!')
};

ws_socket.onclose = function(e) {
	console.log('ws closed!');
};

ws_socket.onerror = function(e) {
	console.log('error:' + e);
};

$('#dicom-upload').click(function(){
	const file = document.getElementById('dicom-file').files[0];

	fetch('http://localhost:8042/instances', {
		method: 'POST',
		body: file,
	})
	.then(response => response.json())
	.then(data => {
		alert(data.ID);
	});
});
</script>
{% endblock %}