{% set mainmenu = 'disease' %}
{% extends 'base.html' %}
{% block pagetitle %}
<img src="{{ static('img/xxb.svg') }}" width="32" height="32" class="me-2">
先心病-VSD介入病例
{% endblock %}

{% block main %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			病例列表
			<span class="card-subtitle">Case List</span>
		</h3>
		{% if request.user.profile.is_editor %}
		<div class="card-actions">
			<a href="{{ url('add-intervene') }}" class="btn btn-primary">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-2">
			        <path d="M12 5l0 14"></path>
			        <path d="M5 12l14 0"></path>
			    </svg>
				添加病例
			</a>
		</div>
		{% endif %}
	</div>
	<div class="table-responsive">
		<table class="table table-selectable card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					<th>编号</th>
					<th>患者</th>
					<th>室间隔缺损表型</th>
					<th>初诊年龄</th>
					<th>手术日期</th>
					<th>外科取出封堵器</th>
					<th>住院期间残余分流</th>
					<th>住院期间溶血</th>
					<th>术后心电图异常</th>
					<th>随访时间</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for o in object_list %}
				<tr>
					<td><a href="{{ url('view-intervene', kwargs={'pk': o.id}) }}">{{ o.disease_code }}</a></td>
					<td>{{ o.patient.name }}</td>
					<td>{{ o.get_sjgqsbx_display() }}</td>
					<td>{{ o.cznl }}</td>
					<td>{{ o.ssrq | date('Y-m-d') }}</td>
					<td>{{ o.get_wkqcfdq_display() }}</td>
					<td>{{ o.get_zyqjcyfl_display() }}</td>
					<td>{{ o.get_zyqjrx_display() }}</td>
					<td>{{ o.get_shxdtyc_display() }}</td>
					<td>{{ o.sfsj | date('Y-m-d') }}</td>
					<td class="text-end">
						<div class="dropdown">
				            <button class="btn dropdown-toggle align-text-top" data-bs-toggle="dropdown" aria-expanded="false">操作</button>
				            <div class="dropdown-menu dropdown-menu-end">
				              <a class="dropdown-item" href="{{ url('view-intervene', kwargs={'pk': o.id}) }}">查看</a>
				              {% if request.user.profile.is_editor %}
				              <a class="dropdown-item" href="{{ url('edit-intervene', kwargs={'pk': o.id}) }}">编辑</a>
				              <a class="dropdown-item link-danger" href="{{ url('delete-intervene', kwargs={'pk': o.id}) }}">删除</a>
				              {% endif %}
				            </div>
				        </div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="card-footer d-flex align-items-center">
		<p class="m-0 text-secondary">
			第 {{ page_obj.number }} 页, 共 {{ page_obj.paginator.num_pages }} 页
		</p>
		<ul class="pagination m-0 ms-auto">
			
			<li class="page-item {% if not page_obj.has_previous() %} disabled {% endif %}">
	            <a class="page-link" href="?page={% if page_obj.has_previous() %}{{ page_obj.previous_page_number() }}{% endif %}">
	              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
                    <path d="M15 6l-6 6l6 6"></path>
                  </svg>
	              上一页
	            </a>
	        </li>

	        <li class="page-item {% if page_obj.number == 1 %}active{% endif %}">
	        	<a href="?page=1" class="page-link">1</a>
	        </li>

	        {% if page_obj.number - 3 > 2 %}
	        <li class="page-item">...</li>
	        {% endif %}

	        {% for i in range(page_obj.number-3, page_obj.number) %}
	        {% if i >= 2 %}
	        <li class="page-item {% if page_obj.number == i %}active{% endif %}">
	        	<a href="?page={{ i }}" class="page-link">{{ i }}</a>
	        </li>
	        {% endif %}
	        {% endfor %}

	        {% for j in range(page_obj.number, page_obj.number + 4) %}
	        {% if 1 < j < page_obj.paginator.num_pages %}
	        <li class="page-item {% if page_obj.number == j %}active{% endif %}">
	        	<a href="?page={{ j }}" class="page-link">{{ j }}</a>
	        </li>
	        {% endif %}
	        {% endfor %}

	        {% if page_obj.number + 4 < page_obj.paginator.num_pages %}
	        <li class="page-item">...</li>
	        {% endif %}

	        {% if page_obj.paginator.num_pages > 1 %}
	        <li class="page-item {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
	        	<a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">{{ page_obj.paginator.num_pages }}</a>
	        </li>
	        {% endif %}

			<li class="page-item {% if not page_obj.has_next() %} disabled {% endif %}">
	            <a class="page-link" href="?page={% if page_obj.has_next() %}{{ page_obj.next_page_number() }}{% endif %}">
	              下一页
	              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1">
	                <path d="M9 6l6 6l-6 6"></path>
	              </svg>
	            </a>
	        </li>
		</ul>
	</div>
</div>
{% endblock %}