{% set mainmenu="customer" %}
{% extends "base.html" %}
{% block title %}修改用户信息{% endblock %}
{% block head %}
<link href="{{ static('css/select2.min.css') }}" rel="stylesheet"/>
<link href="{{ static('css/tabler-vendors.min.css') }}" rel="stylesheet">
{% endblock %}
{% block main %}
<form id="customer-form" method="post" class="card">
	<div class="card-header">
		<h2 class="card-title"><strong>修改用户信息</strong></h2>
	</div>
	<div class="card-body">
		<div class="row row-cards">
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.username.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.last_name.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.first_name.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.email.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.phone.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.major.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.title.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.degree.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.position.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.state.as_field_group() }}
				</div>
			</div>
			<div class="col-md-2">
				<div class="mb-3">
					{{ form.role.as_field_group() }}
				</div>
			</div>
			<div class="col-md-12">
				<div class="mb-3">
					{{ form.resume.as_field_group() }}
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer text-end">
		{{ csrf_input }}
		<button type="submit" class="btn btn-primary">确认修改</button>
	</div>
</form>
{% endblock %}
{% block script %}
<script src="{{ static('js/jquery.validate.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('label').addClass('form-label');

	$('#customer-form').validate({
    normalizer: function(value) {
      return $.trim(value);
    },
    errorClass: 'is-invalid',
    validClass: 'is-valid',
    rules: {
      email: {
        required: true,
        email: true
      }
    }
  });
});
</script>
{% endblock %}
