{% set mainmenu="customers" %}
{% extends "base.html" %}
{% block title %}用户列表{% endblock %}

{% block pagetitle %}
<img src="{{ static('img/users.svg') }}" width="32" height="32" class="me-2">
用户管理
{% endblock %}

{% block main %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">
			用户列表
			<span class="card-subtitle">Users List</span>
		</h3>
	</div>
	<table class="table card-table table-vcenter text-nowrap datatable">
		<thead>
			<tr>
				<th>用户名</th>
				<th>邮箱</th>
				<th>头像</th>
				<th>姓名</th>
				<th>电话</th>
				<th>专业</th>
				<th>职称</th>
				<th>学位</th>
				<th>职位</th>
				<th>状态</th>
				<th>角色</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for u in customers %}
			<tr>
				<td>{{ u.user.username }}</td>
				<td>{{ u.user.email }}</td>
				<td><span class="avatar rounded-circle avatar-sm" style="background-image: url({{ u.get_avatar }});"></span></td>
				<td>{{ u.user.last_name }}{{ u.user.first_name }}</td>
				<td>{{ u.phone }}</td>
				<td>{{ u.major }}</td>
				<td>{{ u.get_title_display() }}</td>
				<td>{{ u.get_position_display() }}</td>
				<td>{{ u.get_degree_display() }}</td>
				<td>{{ u.get_state_display() }}</td>
				<td>{{ u.get_role_display() }}</td>
				<td class="text-end">
					<div class="dropdown">
            <button type="button align-text-top" class="btn dropdown-toggle" data-bs- data-bs-toggle="dropdown" aria-expanded="false">操作</button>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="{{ url('edit-customer', kwargs={'pk': u.id}) }}">编辑</a>
              <a class="dropdown-item link-danger" href="{{ url('delete-customer', kwargs={'pk': u.id}) }}">删除</a>
            </div>
          </div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="modal modal-blur fade" id="delete-user-dialog" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
        <h3>你确定要删除用户 <span id="delete-user-code"></span>?</h3>
        <div class="text-secondary">用户一但删除, 不能被找回, 请慎重!</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">取消</a></div>
            <div class="col"><a href="#" id="delete-user-ok" class="btn btn-danger w-100" data-bs-dismiss="modal">确认</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script src="{{ static('js/datatables.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(document).on('click', 'button.delete-user', function(e){
		e.preventDefault();
		$('#delete-user-code').html($(this).parent().siblings().eq(1).html());
		var user_id = $(this).data('target');
		$('#delete-user-ok').click(function(){
			$.ajax({
				url: "{{ url('list-customer') }}",
				type: "post",
				data: {
					uid: user_id,
				},
				headers: {'X-CSRFToken': '{{ csrf_token }}'},
				success: function() {
					table.ajax.reload();
				}
			});
		});
	});
});
</script>
{% endblock %}